body {
    background: rebeccapurple;
}

.calendar {
    .control {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        background: white;
        margin: var(--padding) 0;
        padding: var(--padding);
        >*:last-child{
            text-align: end;
        }
       a{
       margin: 0 3px
       }
    }

    .table {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        width: calc(100% - 40px);
        background: white;
        padding: 5px 20px;

        .th {
            margin: auto;
            padding: 15px;
        }
        .tr{
            height: 30px;
            border-bottom: 1px dotted lightgray;
        }
        .tr:nth-child(2n){
            height: 30px;
            //padding: 5px 10px;
            border-bottom: 1px dotted lightgray;
            //border-top: 1px dotted lightgray;
            background: #fcf8e3;
        }

        * {
            display: inline-block;
        }
    }
}
